#langchain
langchain-core
langchain-community
langchain-ollama
chromadb
pdfplumber
langchain_chroma

#fastapi
fastapi[all]
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
sqlalchemy
asyncpg 
alembic

#general
python-dotenv
